@use 'variables' as *;

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $background-color;
  padding: 2rem;
}

.main-content {
  flex: 1;
  background-color: $background-white;
  display: flex;
  padding: 1.5rem 1.5rem 2.5rem 1.5rem;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
